<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="WA2COOK UNDER 400 CALORIES? Curated Search Engine for Cooking">
    <meta name="author" content="wa2doo">
    <link href="css/landing-page.css" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-icon-60x60.png">

    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="img/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png">
    <link rel="manifest" href="img/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title>WA2COOK</title>

    <!-- Custom styles for this template -->
    <link href="css/prop.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/custom.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<body>

    <!-- Navigation -->
    <!--<nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
<div class="container"><a class="navbar-brand" width="30" height="50"  href="#">WA2COOK <sub style="right:2.2em;top:1em;font-size:70%;color:#636c72;">beta</sub></a>
       
    <a class="nav-link" href="#" id="joinus">Join&nbsp;Us</a></div>
		 
    </nav>-->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid topnav">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WA2COOK <sub class="brandName">beta</sub></a>
            </div>

            <ul class="nav navbar-nav navbar-right joincustom">
                <li><a href="#" id="joinus">Join Us</a></li>
            </ul>
        </div>
    </nav>
    <!-- Header -->
    <header class="intro-header">
        <div class="container">
            <div class="intro-message">
                <h1>WA2COOK UNDER 400 CALORIES?</h1>
                <h3>Curated Search Engine for Cooking</h3>
                <hr class="intro-divider">
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <section class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Ingredient based search</h2>
                    <p class="lead">Search for recipes that includes only the available ingredient at home or exclude ingredients of ones choice <br>
                    </p>
                </div>
                <div class="col-lg-7 col-md-push-2">
                    <img src="img/ingredient.jpg" alt="" width="400" height="500" class="img-fluid">
                </div>
            </div>

        </div>
        <!-- /.container -->
    </section>

    <section class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-md-push-7">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Semantic Search <br>
                    </h2>
                    <p class="lead">Recipes are empowered with Knowledge Indexes for semantic search <br>
                    </p>
                </div>
                <div class="col-lg-5 col-md-pull-5">
                    <img src="img/Semantic.jpg" alt="" width="400" height="491" class="img-fluid">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </section>
    <!-- /.content-section-b -->

    <section class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Recipe Reader<br>
                    </h2>
                    <p class="lead">Enhances recipe reading and cooking experience with easy navigation and Text-to-Speech of methods and ingredients. <br>
                    </p>
                </div>
                <div class="col-lg-5 col-md-push-2">
                    <img src="img/recipe reader.jpg" alt="" width="400" height="491" class="img-fluid">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </section>
    <!-- /.content-section-a -->



    <aside class="banner">
        <div class="container" id="betainvite">
            <div class="row">
                <div class="col-lg-6 betacontent">
                    <h2> Join our <br/> Private Beta</h2>
                </div>
                <div class="col-lg-3 col-sm-3  invitecontent">
                    <form id="invite-form" action="" method="POST" target="no-target">

                        <input type="email" class="form-control col-xs-5" placeholder="Your Email *" id="email2" required data-validation-required-message="Please enter your email address.">
                        <button type="submit" id="betarequest" class="btn btn-success">Send Request</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </aside>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <p class="Wa2DoProduct">Cooked with Love in India | A product of <a href="http://www.wa2do.co">WA2DO</a></p>
            <p class="copyright text-muted small">Copyright &copy; WA2COOK 2017. All Rights Reserved</p>
        </div>
    </footer>

    <!--JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/tether/tether.min.js"></script>
    <script src="js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="vendor/prop.min.js"></script>

    <script>
        $("#joinus").click(function() {
            $("html, body").delay(0).animate({
                scrollTop: $('#betainvite').offset().top
            }, 2000);
        });

        $('#invite-form').one('submit', function() {

            var inputq1 = encodeURIComponent($('#email2').val());
            var q1ID = "emailAddress";
            var baseURL = 'https://docs.google.com/forms/d/1c2TFRgzztAPVDuGygAqwknXj1XTZzbkxzQ3nenc5k8s/formResponse?';
            var submitRef = '&submit=Submit';
            var submitURL = (baseURL + q1ID + "=" + inputq1 + submitRef);
            console.log(submitURL);
            $(this)[0].action = submitURL;

        });
    </script>
</body>

</html>